COLLECTOR_MODE=mock
API_URL=http://127.0.0.1:8765
API_WRITE_KEY=dev-write-key
INTERVAL_SECONDS=3
TREND_MODE=auto
START_PRICE_USD=65000
BASE_VOLUME_BTC=1200
VOLATILITY_PCT=0.75
CANDLE_INTERVAL_MINUTES=60
BOOTSTRAP_CANDLES=72
MARKET_API_BASE_URL=https://api.exchange.coinbase.com
MARKET_PRODUCT_ID=BTC-USD
MARKET_SOURCE=coinbase-exchange
